.create-new-button {
  margin-top: 20px;
  border-top: 2px solid;
}

.create-new-button a {
  display: block;
  width: fit-content;
  margin: 15px auto;
  padding: 3px;
  width: 180px;
  font-size: 1.1em;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  color: black;
}

.create-new-button a:hover {
  background: whitesmoke;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

#profile-pic {
  margin: 10px auto;
}

.create-form form input,
.create-form form textarea {
  margin-bottom: 20px;
  text-align: center;
}

#bio {
  resize: none;
  height: 150px;
}

#submit-button {
  margin: 20px auto;
  width: 200px;
  font-size: 1.1em;
  background: none;
  border: 1px solid;
  border-radius: 10px;
}

#submit-button:hover {
  cursor: pointer;
  background: whitesmoke;
}

.new-dog {
  background-color: rgba(245, 245, 245, 0.5);
  padding: 5px;
}

.new-dog a {
  text-decoration: none;
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 10px;
  color: black;
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 5px;
}

.new-dog a:hover {
  background: whitesmoke;
}

/* Creaded div */
#created {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: blue;
  opacity: 1;
  animation: none;
}

#created.show {
  display: flex;
  animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
