.update-dog-info {
  background-color: rgba(245, 245, 245, 0.3);
}

.update-dog-info form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

#changePic {
  margin: 10px auto;
}

.update-dog-info form input,
.update-dog-info form textarea {
  margin-bottom: 20px;
  text-align: center;
}

#changedBio {
  resize: none;
  height: 150px;
}

.update-dog-info a {
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  color: rgb(33, 33, 33);
  margin: 10px auto;
  display: block;
  font-size: 1.1em;
  text-decoration: none;
}

.update-dog-info a:hover {
  background-color: whitesmoke;
}

#save-button {
  font-size: 1em;
  padding: 2px;
  border: 1px solid;
  border-radius: 10px;
}

#save-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

/* Update save div */
#saved {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  background-color: rgba(255, 255, 255, 0.9);
  display: none; /* Gömd från början */
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: green;
  opacity: 1;
  animation: none;
}

#saved.show {
  display: flex;
  animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
