.update-dog-info {
  background-color: rgba(245, 245, 245, 0.3);
}

.update-dog-info form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.update-dog-info form input,
.update-dog-info form textarea {
  margin-bottom: 20px;
  text-align: center;
}

#changedBio {
  resize: none;
  height: 150px;
}

.update-dog-info a {
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  color: rgb(33, 33, 33);
  margin: 10px auto;
  display: block;
  font-size: 1.1em;
  text-decoration: none;
}

.update-dog-info a:hover {
  background-color: whitesmoke;
}
