.is-here {
  font-weight: 900;
  width: 80px;
  font-weight: 800;
  color: rgba(10, 140, 10, 0.8);
}

.not-here {
  width: 80px;
  font-style: italic;
  color: rgba(220, 40, 40, 1);
}

.checked-in {
  background-color: rgba(40, 220, 40, 0.7);
  border-radius: 50%;
}

.not-checked-in {
  background-color: rgba(220, 40, 40, 0.8);
  border-radius: 50%;
}

.profile-link {
  margin: 5px auto;
}

.profile-link a {
  display: inline-block;
  margin-right: 10px;
}

.profile-link a:hover {
  transform: scale(1.2);
}

.profile-div {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 5px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border: 2px solid darkblue;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.check-in-dog label:hover,
.check-in-dog input {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.remove-dog {
  display: inline-block;
  margin-left: 20px;
}

.remove-dog button {
  display: inline-block;
  background: rgba(255, 165, 0, 0.5);
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
}

.remove-dog button:hover {
  cursor: pointer;
  background: rgba(255, 165, 0, 0.8);
}

.friend-list a {
  display: block;
  text-decoration: none;
  color: blue;
  /* color: #006400; */
  font-size: 1.1em;
  margin: 5px auto;
  width: 200px;
}

.friend-list a:hover {
  transform: scale(1.2);
}

.add-friend-div {
  margin: 10px auto;
}

.add-friend-div button {
  background: none;
  padding: 4px;
  border: none;
  color: darkblue;
  font-size: 1em;
  font-weight: 300;
}

.add-friend-div button:hover {
  cursor: pointer;
  transform: scale(1.2);
  font-weight: 900px;
}
