.is-here {
  color: green;
  width: 80px;
  font-weight: 800;
}

.not-here {
  color: red;
  width: 80px;
  font-style: italic;
}

.profile-link {
  margin: 5px auto;
}

.profile-link a {
  display: inline-block;
}

.profile-link a:hover {
  transform: scale(1.2);
}

.profile-pic {
  width: 200px;
  height: 200px;
  border: 2px solid darkblue;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.check-in-dog label:hover,
.check-in-dog input {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.remove-dog {
  display: inline-block;
  margin-left: 20px;
}

.remove-dog button {
  display: inline-block;
  background: rgba(255, 165, 0, 0.5);
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
}

.remove-dog button:hover {
  cursor: pointer;
  background: rgba(255, 165, 0, 0.8);
}
