body {
  text-align: center;
  background-image: url(https://www.everwallpaper.co.uk/cdn/shop/products/3000_1155_562dc670-27a9-4802-9d1d-6c7d8e8e4458.jpg?v=1739778794);
}

.main-div {
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 10px;
}

.redirects {
  margin-top: 50px;
  border-top: 1px solid;
}

.redirects a {
  display: inline-block;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.1em;
  color: rgb(33, 33, 33);
  border: 1px solid;
  border-radius: 10px;
  padding: 4px;
}

.redirects a:hover {
  background: whitesmoke;
}
